.main-page {
  background-color: #141414;
  color: #fff;
  padding: 20px;
}

.banner {
  height: 300px;
  background-color: #333;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  border-radius: 10px;
}

@media screen and (max-width: 768px) {
  .banner {
    height: 250px; /* 배너 높이 축소 */
  }

  .main-page {
    padding: 15px;
  }
}

/* 모바일 (화면 너비 480px 이하) */
@media screen and (max-width: 480px) {
  .banner {
    height: 200px; /* 배너 높이 더 축소 */
    margin-bottom: 15px;
  }

  .main-page {
    padding: 10px;
  }
}