.movie-row {
  margin-bottom: 40px;
  position: relative;
}

.movie-row-title {
  font-size: 1.5rem;
  color: white;
  margin-left: 60px;
  margin-bottom: 10px;
}

.movie-row-container {
  position: relative;
  display: flex;
  align-items: center;
}

.movie-row-content {
  display: flex;
  overflow-x: none;
  scroll-behavior: smooth;
  scrollbar-width: none; /* Firefox */
  padding: 0 80px; /* 양쪽 간격 */
}

.movie-row-content::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}

.movie-poster {
  max-width: 150px;
  max-height: 225px;
  margin-right: 10px;
  transition: transform 0.2s ease-in-out;
  cursor: pointer;
}

.movie-poster:hover {
  transform: scale(1.1);
}

.movie-row-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.5);
  border: none;
  color: white;
  font-size: 2rem;
  cursor: pointer;
  padding: 10px;
  border-radius: 50%;
  outline: none;
}

.movie-row-arrow-left {
  left: 10px; /* 간격 */
}

.movie-row-arrow-right {
  right: 10px; /* 간격 */
}

.movie-row-arrow:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.movie-row-gradient-left,
.movie-row-gradient-right {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 60px; /* 간격 */
  z-index: 1;
  pointer-events: none;
}

.movie-row-gradient-left {
  left: 0;
  background: linear-gradient(to right, rgba(0, 0, 0, 1), transparent);
}

.movie-row-gradient-right {
  right: 0;
  background: linear-gradient(to left, rgba(0, 0, 0, 1), transparent);
}
