.movie-row-container {
  position: relative;
  margin: 20px 0;
  padding: 0 40px;
}

.movie-row-title {
  margin-left: 10px;
}

.movie-row-wrapper {
  position: relative;
}

.movie-row-content {
  display: flex;
  overflow: hidden;
  scrollbar-width: none;
  gap: 10px;
  transition: transform 0.3s ease-in-out;
}

.movie-poster {
  width: 200px;
  height: 300px;
  object-fit: cover;
  border-radius: 10px;
}

.movie-row-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  cursor: pointer;
  width: 30px;
  height: 60px;
  display: none;
}

.movie-row-button.left {
  left: 0;
}

.movie-row-button.right {
  right: 0;
}

.movie-row-wrapper:hover .movie-row-button {
  display: block;
}
