body {
  margin: 0;
  font-family: 'Helvetica Neue', Arial, sans-serif;
  background-color: #111;
  color: white;
}

.main-page {
  padding-top: 60px;
}

a {
  text-decoration: none;
}

a:visited {
  color: inherit;
}
